<!DOCTYPE html>
{% extends 'raktarweb/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sikeres</title>
</head>
<body>
{% block content %}
<h1>{{your_name}}</h1>
<br/><p>Sikeres számla mentés---</p><br/>
<br>{{proba}}<br/>
<!--input type="submit" name="btn_generalas" value="Pdf generálás" /-->
<!--a id="megjegyzesek" href="http://127.0.0.1:8000/raktarweb/printinvoice/">Pdf generálás</a></p-->
<a href="{% url 'raktarweb:printinvoice'%}">Pdf generálás eredeti</a></li>

{% if latest_szamlatorzs_list %}
    <ul>
    {% for szamlatorzs in latest_szamlatorzs_list %}
        {% for peldany in peldany_list %}
        <!--li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li-->
        <li><a href="{% url 'raktarweb:detail' szamlatorzs.id peldany%}">{{ szamlatorzs.szamlaszam }}</a></li>
        {% endfor %}
        {% endfor %}
    </ul>
{% else %}
    <p>Nincsennek számlák rögzítve.</p>
{% endif %}

{% endblock %}
</body>
</html>